body {
    font-family: "Lato", serif;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    background-color: rgb(241, 234, 234);
    position: relative;
}

.cont {
    margin-left: 30%;
    margin-right: 30%;
    background-color: whitesmokes;
    position: absolute;


}

img {
    width: 50%;
    height: 50%;
    border-radius: 2%;
}

.leggo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;

}

#fish {
    text-align: center;
    font-weight: bold;
}


.prep {
    align-content: center;
    background-color: pink;
    background-size: 10%;
}

ul {
    margin-left: 25%;
}

p {
    text-align: center;
    font-size: 14px;
}

#prept {
    margin-left: 25%;
}